In this example we will be using test dataset for the plane detection project that willbe done as the capstone project.

In [13]:
import pandas as pd
 
import matplotlib.pyplot as plt
 
from matplotlib import style
 
style.use('fivethirtyeight')
 
data= pd.read_csv("data.csv")
data.head()

     filename  xmin  ymin  xmax  ymax  label
0  img401.png   319   212   403   296  plane
1  img401.png   370   222   464   317  plane
2  img401.png   718   276   805   366  plane
3  img401.png   587   516   637   566  plane
4  img401.png   776   513   819   555  plane

In [14]:
data.tail()

       filename  xmin  ymin  xmax  ymax  label
774  img500.png   258   129   293   162  plane
775  img500.png   900    75   960   136  plane
776  img500.png   812   136   914   236  plane
777  img500.png   538   558   624   647  plane
778  img500.png   386   224   448   283  plane

In [ ]:
data.shape

In [ ]:
data.describe()

In [ ]:
data.info()

In [ ]:
data.isnull().sum()

This is because our dataset got no missing value

Research on the available methods of treating missing values